body {
  background-color: white;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  width: 100vw;
  height: 100vh;
}

nav {
  background-color: #ffd8a9;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 1em;
  font-family: Verdana, Geneva, Tahoma, cursive;
  font-size: 2em;
}
#icon {
  background-color: #f1a661;
  display: grid;
  padding: 1em;
  justify-items: center;
  align-items: center;
}

#links {
  grid-column-start: 1;
  grid-column-end: 3;
  display: none;
}

#links a {
  display: grid;
  text-decoration: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  background-color: #f1a661;
  padding: 1em;
}

#links a:visited {
  background-color: #e38b29;
}
.recipe {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 6em 2em 6em 2em;
  background-color: #fdeedc;
  border-radius: 15px;
}

.recipeName {
  background-color: #e38b29;
  padding: 1em 0 1em 0;
  border-radius: 15px 15px 0 0;
  font-family: Verdana, Geneva, Tahoma, cursive;
  font-size: 1.5em;
}

.recipe h2,
p {
  display: grid;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
}

.recipe p {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
}

footer {
  display: flex;
  background-color: #ffd8a9;
  padding: 2em;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: space-around;
}

footer a {
  text-decoration: none;
}

@media (min-width: 51em) {
  #icon {
    visibility: hidden;
    display: none;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100vw;
    height: 100vh;
  }
  nav {
    grid-column-start: 1;
    grid-column-end: 1;
    padding: 0em;
  }

  .recipe {
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
  }
  .recipe p {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 45%;
  }

  .recipe img {
    padding: 2em 1em 0 2em;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 50%;
    justify-self: end;
  }
  p + h2 {
    justify-self: start;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;

    padding-left: 1em;
  }

  .recipe ul {
    font-size: 1em;
    padding-top: 5em;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 50%;
  }

  ul + h2 {
    padding-left: 15em;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .recipe ol {
    justify-self: end;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 45%;
    padding-top: 5em;
    padding-right: 3em;
  }

  #links {
    display: block;
    background-color: #f1a661;
    grid-column-start: 2;
    grid-column-end: 5;
  }

  #links a {
    background-color: #f1a661;
    display: inline-grid;
    margin-top: 1.5em;
    margin-left: 3em;
    margin-bottom: 1em;
    color: black;
  }

  #links a:visited {
    background-color: #f1a661;
    color: black;
  }

  footer {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
  }
}

@media (min-width: 64em) {
  #links a {
    margin-left: 5em;
  }
}

@media (min-width: 102em) {
  #links a {
    margin-left: 13em;
  }

  p {
    font-size: 2em;
  }

  p + h2 {
    font-size: 2em;
    margin-top: 0;
  }

  .recipe ul {
    padding: 2em 2em 3em 3em;
    font-size: 2em;
  }

  .recipe img {
    padding: 0em 0 0 0em;
    width: 49%;
  }

  ul + h2 {
    margin-top: 0;
    font-size: 2em;
    padding-left: 29em;
  }

  .recipe ol {
    padding-top: 2em;
    font-size: 2em;
  }
}
