body {
  background-color: #f3e0b5;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: 4D72A8;
}

body a:hover {
  background-color: #ffae6d;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0fr 4fr 1fr 0.3fr;
  width: 100vw;
  height: 100vh;
}

nav {
  background-color: #fecd70;
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, cursive;
  font-size: 2em;
}
#icon {
  background-color: #fecd70;
  display: grid;
  padding: 1em;
  justify-items: center;
  align-items: center;
  grid-column-start: 5;
  grid-column-end: 5;
}

#links {
  grid-column-start: 1;
  grid-column-end: 6;
  display: none;
  background-color: #fecd70;
}

#links a {
  text-decoration: none;
  align-items: center;
  background-color: #fecd70;
  padding: 1em;
  color: black;
}

#links a:hover {
  background-color: #ffae6d;
}

.todaysRecipe {
  margin: 0;
  grid-column: 1 / 6;
  justify-self: center;
  align-self: center;
  font-family: Verdana, Geneva, Tahoma, cursive;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
  grid-auto-flow: column;
  background-color: #f3e0b5;
  overflow: auto;
}

.recipe h2 {
  background-color: #e3c770;
  padding: 1em 0 1em 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, cursive;
  font-size: 2em;
}

.recipe h2,
p {
  display: grid;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
}

.recipe p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.9em;
  padding: 0 1em 1em 1em;
}
.recipe a {
  text-decoration: none;
}

footer {
  background-color: #fecd70;
  padding: 0em;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: black;
}

@media (min-width: 51em) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0fr 4fr 1fr 0.3fr;
    width: 100vw;
    height: 100vh;
  }
  #icon {
    visibility: hidden;
    display: none;
  }

  nav {
    grid-column-start: 1;
    grid-column-end: 1;
    padding: 0em;
  }
  #links {
    grid-column-start: 2;
    grid-column-end: 6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  #links a {
    color: black;
  }
}

@media (min-width: 75em) {
  ul {
    display: flex;
  }
  ul li {
    padding: 0.5em 0.2em 0.2em 0.2em;
  }

  ul li img {
    width: 100%;
    height: auto;
  }
}
